@model blog_project.Models.RegistrationModel

<link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" type="text/css" />
<div class="card " style="max-width:45%; left:30%;">
    <div class="card-header">
       <h2>Sign Up</h2>
    </div>
    <img src="~/media/join.jpg" class="card-img-top"width="30%" height="20%">

    <div class="card-body">
        
@using (Html.BeginForm("signup", "Authentification", FormMethod.Post))
{
  <div class="form-group row">
    <div class="form-group col-md-6">
      @Html.LabelFor(m=>m.firstName, "First Name")
      @Html.TextBoxFor(m=>m.firstName , htmlAttributes: new {@class ="form-control" , @placeholder="First Name"})
    </div>
    <div class="form-group col-md-6">
      @Html.LabelFor(m=>m.lastName, "Last Name")
      @Html.TextBoxFor(m=>m.lastName ,htmlAttributes: new {@class ="form-control", @placeholder="Last Name"} )
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-6">
      @Html.LabelFor(m=>m.userName, "User Name")
      @Html.TextBoxFor(m=>m.userName , htmlAttributes: new {@class ="form-control" , @placeholder="User Name"})
    </div>
    <div class="form-group col-md-6">
      @Html.LabelFor(m=>m.email, "Email")
      @Html.TextBoxFor(m=>m.email , htmlAttributes: new {@class ="form-control" , @placeholder="Email", @type= "email" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(m=> m.password , "Password")
    @Html.PasswordFor(m=>m.password, htmlAttributes: new { @class= "form-control" , @placeholder="Password"})
  </div>
  <div class="form-group">
    @Html.LabelFor(m=>m.picture , "Image")
    <input type="file" asp-for="picture" name="picture" class="form-control file" id="customFile">
  </div>

  <button type="submit" class="btn btn-primary mt-3">Sign Up</button>

}


    </div>
</div>


